__pycache__/
*.pyc
.ipynb_checkpoints/

/llm-tta/data/
/linux_runtime_env.sh
llm-tta/save/
TLM/.swanlab.env
TLM/.tmp/
TLM/saves/
.vscode/
.github/
TLM/D:\\hf_cache/
TLM/scripts/workflows/__pycache__/
TLM/scripts/__pycache__/